@media(max-width:920px){
    html, body{
        overflow-x: hidden;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 4rem ;
        margin-left: 40vw;
    }
    .apresentation h1{
        font-size: 2rem;
    }
    .text{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;
        padding: 0.6rem;
    }
    .Introducion{
        margin-top: 10rem;
    }
    .Explanation1{
        flex-wrap: wrap;
    }
    .img1{
        max-width: 20rem;
    }
    .img2{
        max-width: 20rem;
    }
    .img3{
        max-width: 20rem;
    }
    .T1{
        font-size: 1.2rem;
        width: 24ch;
    }
    .T2{
        font-size: 1.2rem;
        width: 24ch;
    }
    .P1{
        font-size: 1rem;
        width:28ch;
    }
    .content{
        margin-left: 2rem;
    }
    .span{
        font-size: 1.9rem;
    }
    .problems-card{
        flex-direction: column;
        text-align: center;
        max-width:20rem;
        width: 100%;
    }
    .img-problem{
        width: 10rem;
        margin-right: 0;
    }
    .benefits-card{
        flex-direction: column;
        text-align: center;
        max-width:20rem;
        width: 100%;
    }
    .problems{
        flex-wrap: wrap;
        padding: 2rem;
    }
    .title-cards{
        font-size: 1.2rem;
    }
    .text-cards{
        text-align: center;
        margin: auto;
        font-size: 1rem;
    }
    .ability{
        font-size: 2rem;
    }
    .about-me{
        align-items: center;
        text-align:center;
    }
    .foto{
        width: 18rem;
        height: max-content;
    }
    .description{
        font-size: 0.9rem;
        width: 30ch;
    }
    .organizar-texto{
        margin: 0;
    }
}
@media(max-width:750px){
    .Illustration{
        width: 140%;

    }
    .content{
        margin-left: 0;
    }
    .btn{
        margin: auto;
        margin-top: 1.5rem;
    }
    .text-container{
        margin-left: 35vw;
    }
    .apresentation h1{
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
    .Introducion{
        padding: 4rem;
        max-width: 90vw;
        margin-top:6rem;
    }
    .img-toggle{
        display: block;
        max-width: 20rem;
    }
    .img1{
        display: none;
    }
    .Explanation1{
        max-width: 85vw;
        padding: 1rem;
        margin: 4rem;
        text-align: center;
    }
    .T1,.T2, .P1{
        margin: auto ;
    }
    .P1, .text{
        font-size: 0.9em;
    }
    .about-me{
        max-width: 90vw;
        flex-direction: column;
    }
    .foto{
        max-width: 16rem;
    }
    .testimonial{
        max-width: 18rem;
    }
    .testimonials{
        padding: 1rem;
    }
}
@media(max-width:400px){
    .Illustration{

    }
}